html{
    height: 100%;
}
body{
    
    font-family: cursive;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    text-align: center;
    background-color: #00BCD4;
}
.profile-photo{
    margin-top: 20px;
    width: 25%;
    min-height: 30px;
    border-radius: 50%;
}
.name a{
    text-decoration: none;
    color: yellowgreen;
}
header nav ul{
    padding: 0;
    margin: 0;
}
header nav ul li{
    display: inline-block;
}
.info p{

    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
}
.links ul li a{
    font-size: 30px;
    margin-left: 4px;
}
.links ul li:hover{
    transform: scale(1.2);
}
.info a{ 
    display: block;
    padding-top: 5px;
    margin-top: 7px;
    padding-bottom: 7px;
    font-size: 90%;
    margin: 5px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 4px;
    text-decoration: none;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
    background-color: yellow;
    color: black;
}
.info a:hover{

    transform: scale(1.1);
    background-color: rgb(204, 76, 183); 
}
/*#009688*/
hr{
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
}
footer{
    margin-top: auto;
    margin-bottom: 20px;
}
