body{
    background-color: #202124;
    color: aliceblue;
    padding: 0;
    margin: 0;
    text-align: center;
    
}
#desplegar{
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 20px;
}
#desplegar:hover{
    cursor: pointer;
}
#cerrar{
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 20px;
    border: none;

}
#cerrar:hover{
    cursor: pointer;
}
#oculto{
    display: none;
    border-radius: 10px;
    background-color: brown;
    margin-top: 20px;
    width: 200px;
    height: 300px;
    border: solid 1px grey;
}
.Mostrar input{
    border-radius: 20px;
    margin-bottom: 5px;
    border: none;
}
.Mostrar{
    display: block;
}
.azul{
    border-radius: 10px;
    background-color: blue;
    margin-top: 20px;
    width: 200px;
    height: 300px;
    border: solid 1px grey;
}