/* footer abajo */
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /* fin */
    *background-color: #009688;
    width: 100%;
    position: relative;
    min-height: 100vh;
    
}
.social ul{
    *list-style: none;
    margin: 0%;
    padding: 0%;
    text-align: center;
}
.social ul li{
    display: inline;
}
header{
    text-align: center;
}
.profile-photo{
    width: 170px;
    border-radius: 50%;
}
footer{
    margin-top: auto;
}
